.movies-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 10px;
  gap: 60px;

  .btn-pagination{
    width: 100%;
    display: flex;
    column-gap: 20px;
  }
}