.movies-wrap, .light-movie-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 110px 10px 20px;
  gap: 60px;

  .btn-pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 18px;

    button{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: none;
      background-color: #000;
      color: #fff;
    }
  }
}
.btn-pagination  button.current{
  background-color: red
}

.btn-pagination button:hover{
  background-color: #fff;
  color: #000;
  font-weight: bold;
  transition: ease-in-out .2s;
}

.light-movie-wrap{
  background-color: #000;
}

