header{
  width: 100%;
  background-color: #000;
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  position: relative;

  input{
    height: 26px;
    width: 300px;
    padding: 0 8px;
    border-radius: 5px;
  }

  .switch{
    height: 14px;
    position: absolute;
    top: 18px;
    right: -111px;
  }

  .user, .user img{
    height: 35px;
  }
}

.light-header{
  background-color: #fff;
}