@import "src/common/colors";

header{
  height: 50px;
  width: 100%;
  background-color: $primary-color;
  color: $primary-font;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  input{
    height: 26px;
    width: 300px;
    padding: 0 8px;
    border-radius: 5px;
  }

  .user, .user img{
    height: 25px;
  }
}