.post{
    margin-left: 10px;
}
.post a{
    border: 1px solid transparent;
    background-color: transparent;
    color: red;
    text-decoration: none;
    padding:5px 10px;
}
.post p{
    margin-bottom: 15px;
}
.post a:hover{
    border: 1px solid gray;
    border-radius: 7px;
    box-shadow: 7px 10px 38px 9px rgba(21, 23, 24, 0.2);
}